.text{
    letter-spacing: 0.05cm;
    padding-top: 4%;
    color: #324d67;
}
.alignment{
  
    margin-left: auto;
    margin-right: auto;
    background-color: #49a6e9;
    border-radius:100%;
    width:max-content;
    padding: 3px 2px 3px 0px;
}
.texts{
    letter-spacing:0.1cm;
    font-size: x-large;
    font-weight: 500;
    color: #000102;
    text-shadow: #102a42 1px 1px 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text1{
    font-size: x-large;
    color: #49a6e9;
    letter-spacing:0.1cm;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text2{
   color: #8f8d8d;
 
   font-size: large;
   margin-left: auto;
   margin-right: auto;
   font-weight:400;
}
.backgroundss{
    background-color: #dee9f1;
    padding-bottom:4rem;
    overflow: hidden;
}
.card{
    margin: auto;
    padding-bottom:10%;
}
.back{
    background-color: #49a6e9;
    border-radius:30px;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    padding:5px
}
.colors{
    color: #ba5d2c;
}
.btn{
    border-radius: 30rem;
}